* {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}



.my-nav-link {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 4rem;
  letter-spacing: 1.2px;
}
.my-nav-link:hover {
  color: #fff !important;
}
.my-nav-text {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #fff;
  background-color: inherit;
  font-weight: 100;
}

.welcome-div {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.welcome-link {
  font-size: 2rem;
  letter-spacing: 2px;
  display: block;
  height: 10rem;
  width: 15rem;
  text-decoration: none;
  border-radius: 4px;
  background-color: #fff;
}
.welcome-link:hover {
  transform: translateY(-0.2%) !important;
  box-shadow: 0 .3rem .7rem rgba(0, 0, 0, 0.2) !important;
}

.links-div {
  /* display: block; */
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  height: 50vh;
  align-items: center;
  background-color: rgba(0, 0, 0, .07);
  border-radius: 7px;
  align-items: center;


}
@media (min-width: 500px) {
  .welcome-div {
    width: 90%;
  }
  .links-div {
    flex-direction: row;
  }
  .welcome-link {
    margin: 3rem;
  }
}
.link {
  margin-top: 2.2rem;
}

.welcome-h1 {
  letter-spacing: 1px;
}


.welcome-h4 {
  margin-top: 1rem;
  opacity: .8;
  font-size: 1.2rem;

}